In [2]:
import pandas as pd

se = pd.Series([10, 21, 32, 43])

In [4]:
print(se.values)
print(se.index)

[10 21 32 43]
RangeIndex(start=0, stop=4, step=1)

In [9]:
dict1 = {'a': 100, 'b': 200, 'c': 300}
se = pd.Series(dict1)
print(se)
print(se.values)
print(se.index)

a    100
b    200
c    300
dtype: int64
[100 200 300]
Index(['a', 'b', 'c'], dtype='object')

In [10]:
se = pd.Series([28, 98, 36, 75, 48])
print(se)

0    28
1    98
2    36
3    75
4    48
dtype: int64

In [13]:
print(se[2])
print(se[4])
print(se[1:4])

36
48
1    98
2    36
3    75
dtype: int64

In [15]:
print(se[-1]) # In pandas there is no single negative index

KeyError: -1

In [16]:
print(se[-2:-1]) # But slicing with negative indices works!

3    75
dtype: int64

In [18]:
data1 = [[65, 92, 78, 83, 70], [90, 72, 76, 93, 56], [81, 85, 91, 89, 77], [79, 53, 47, 94, 80]]
df = pd.DataFrame(data1)
print(df)
print(df.values)
print(df.index)

    0   1   2   3   4
0  65  92  78  83  70
1  90  72  76  93  56
2  81  85  91  89  77
3  79  53  47  94  80
[[65 92 78 83 70]
 [90 72 76 93 56]
 [81 85 91 89 77]
 [79 53 47 94 80]]
RangeIndex(start=0, stop=4, step=1)

In [19]:
data1 = [[65, 92, 78, 83, 70], [90, 72, 76, 93, 56], [81, 85, 91, 89, 77], [79, 53, 47, 94, 80]]
df = pd.DataFrame(data1, index=['王小明', '李小美', '陳大同', '林曉諭'], columns=['國文', '英文', '數學', '自然', '社會'])
print(df)
print(df.values)
print(df.index)

     國文  英文  數學  自然  社會
王小明  65  92  78  83  70
李小美  90  72  76  93  56
陳大同  81  85  91  89  77
林曉諭  79  53  47  94  80
[[65 92 78 83 70]
 [90 72 76 93 56]
 [81 85 91 89 77]
 [79 53 47 94 80]]
Index(['王小明', '李小美', '陳大同', '林曉諭'], dtype='object')

In [30]:
import pandas as pd

scores = {'國文':{'王小明':65, '李小美':90, '陳大同':81, '林曉諭':79}, '英文':{'王小明':92, '李小美':72, '陳大同':85, '林曉諭':47}, '數學':{'王小明':78, '李小美':76, '陳大同':91, '林曉諭':47}, '自然':{'王小明':83, '李小美':93, '陳大同':89, '林曉諭':94}, '社會':{'王小明':70, '李小美':56, '陳大同':77, '林曉諭':80}}

df = pd.DataFrame(scores)
df

     國文  英文  數學  自然  社會
王小明  65  92  78  83  70
李小美  90  72  76  93  56
陳大同  81  85  91  89  77
林曉諭  79  47  47  94  80

In [31]:
df['國文']

王小明    65
李小美    90
陳大同    81
林曉諭    79
Name: 國文, dtype: int64

In [33]:
df[['國文','英文']]

     國文  英文
王小明  65  92
李小美  90  72
陳大同  81  85
林曉諭  79  47

In [39]:
df[df['國文'] >= 80]

     國文  英文  數學  自然  社會
李小美  90  72  76  93  56
陳大同  81  85  91  89  77

In [36]:
df['國文'] >= 80

王小明    False
李小美     True
陳大同     True
林曉諭    False
Name: 國文, dtype: bool

In [40]:
df.values

array([[65, 92, 78, 83, 70],
       [90, 72, 76, 93, 56],
       [81, 85, 91, 89, 77],
       [79, 47, 47, 94, 80]], dtype=int64)

In [41]:
df.values[1] #row only

array([90, 72, 76, 93, 56], dtype=int64)

In [42]:
df.values[1][2] #first row then column

76

In [46]:
df.loc[['李小美', '林曉諭'],['數學', '社會']]

     數學  社會
李小美  76  56
林曉諭  47  80

In [52]:
df.loc[['李小美', '林曉諭'],['數學', '社會', '國文']]

     數學  社會  國文
李小美  76  56  90
林曉諭  47  80  79

In [56]:
df.loc['李小美':'林曉諭','數學':'社會']
#loc is inclusive for the final value, while iloc is exclusive for the final value

     數學  自然  社會
李小美  76  93  56
陳大同  91  89  77
林曉諭  47  94  80

In [61]:
df.iloc[0,2]

     數學  自然
王小明  78  83

In [62]:
df.iloc[0:1,2:4]

     數學  自然
王小明  78  83

In [54]:
df.sort_values(by='數學', ascending=True)

     國文  英文  數學  自然  社會
林曉諭  79  47  47  94  80
李小美  90  72  76  93  56
王小明  65  92  78  83  70
陳大同  81  85  91  89  77

In [74]:
df.sort_index(axis=0)

     國文  英文  數學  自然  社會
李小美  90  72  76  93  56
林曉諭  79  47  47  94  80
王小明  65  92  78  83  70
陳大同  81  85  91  89  77

In [76]:
df.sort_index(axis=1)

     國文  數學  社會  自然  英文
王小明  65  78  70  83  92
李小美  90  76  56  93  72
陳大同  81  91  77  89  85
林曉諭  79  47  80  94  47